@using Scheduler.Data.Models;
@model Room

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row div-centered">
    <div class="col-xs-8 w-50">
        <p>
            <h1>Room</h1>
            <h4>Add</h4>
        </p>
        <div class="row">
            <form asp-action="Create" asp-controller="Rooms">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Number" class="control-label"></label>
                    <br />
                    <span asp-validation-for="Number" class="text-danger"></span>
                    <input asp-for="Number" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <br />
                    <span asp-validation-for="Type" class="text-danger"></span>
                    <select class="form-control" 
                            asp-for="Type"
                            asp-items="@Html.GetEnumSelectList<RoomType>()
                                        .Where(e => e.Text != RoomType.None.ToString())">
                        <option value="None">-- Select room type --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Floor" class="control-label"></label>
                    <span asp-validation-for="Floor" class="text-danger"></span>
                    <input asp-for="Floor" class="form-control" />
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="btn-group">
                            <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-primary" asp-action="Index" asp-controller="Rooms">Back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

