
$primary: #048BA8;
$secondary: #efeeee;
$info: #efeeee;
$success: #26C485;
$warning: #F18F01;
$danger: #F71735;

// Dark mode
$primary-dark: #2E4057;
$secondary-dark: #545c63;

a{
    color: inherit !important;
}

a.btn-outline-success:hover{
    color: $secondary !important;
}

a.btn-outline-success{
    color: $success !important;
}

a.btn-outline-warning{
    color: $warning !important;
}

a.btn-outline-warning:hover{
    color: $secondary !important;
}

a.btn-outline-danger{
    color: $danger !important;
}

a.btn-outline-danger:hover{
    color: $secondary !important;
}

path{
    stroke: currentColor;
}

a{
    text-decoration: none;
}

@import "node_modules/bootstrap/scss/bootstrap";