@import "./colors.module.scss";

// colors
$check-in: #AFE1AF;
$check-out: #F7B4A6;
$occupied: #F7F1A6;
$cell-height: 40px;
$cell-width: 34px;

.cell{
    height: $cell-height;
    width: $cell-width;
}

.check-in{
    background-color: $check-in !important;
    height: $cell-height;
    clip-path: polygon(100% 100%, 0 100%, 100% 0); // the calc ensures that the polygon does not overlap the border
}

.check-out{
    background-color: $check-out !important;
    height: $cell-height;
    clip-path: polygon(0 0, 0 100%, 100% 0); // the calc ensures that the polygon does not overlap the border
}

.occupied {
    background-color: $occupied !important;
    height: $cell-height;
}

.occupied:empty{
    position: relative;
    z-index: 1;
}

.guest-name {
    position: absolute;
    z-index: 2 !important;
    white-space: nowrap;
}

.past{
    background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

table td, table th.flipped{
    height: $cell-height;
    width: $cell-width;
    color: $primary-dark !important;
    background-color: $secondary !important;
}

table th, table td.flipped{
    height: $cell-height;
    width: $cell-width;
    color: $secondary !important;
    background-color: $primary !important;
}

.darken-on-hover:hover{
    filter:brightness(95%);
}

.darken{
    filter:brightness(95%);
}