@model IEnumerable<Schedule>

@{
    ViewData["Title"] = "Schedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-controller="Schedules" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <td>
                Id
            </td>
        </tr>
    </thead>
    <tbody>
@foreach (var schedule in Model) {
        <tr>
            <td>
                @schedule.Id
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Schedules" asp-action="Details" asp-route-id="@schedule.Id">Open</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@schedule.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
