html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

div {
    position: relative;
}

th{
    box-sizing: content-box;
    width: 35px;
}

.div-centered {
    display: flex;
    justify-content: center;
    text-align: left;
}

.cell-half-left {
    display: block;
    width: 50%;
    height: 100%;
    padding: 0px;
    float: left;
    border: 1px solid black;
    border-right: dashed 1px black;
    border-collapse: collapse;
}

.cell-half-right {
    display: block;
    width: 50%;
    height: 100%;
    padding: 0px;
    float: right;
    border: 1px solid black;
    border-left: dashed 1px black;
    border-collapse: collapse;
}

.cell {
    height : 25px;
    width : 25px;
    padding: 0px !important;
}

.cell-empty {
    border: 1px solid black;
    display: block;
    height: 100%;
}

.cell-inner{
    width: 100%;
    height: 100%;
}

.check-in {
    border: 1px solid black;
    background-color: #87CEEB !important;
    border-left: dashed 1px black;
    display: block;
    height: 100%;
    width: 50%;
    border-collapse: collapse;
}

.check-out {
    border: 1px solid black;
    background-color: #191970 !important;
    border-right: dashed 1px black;
    display: block;
    height: 100%;
    width: 50%;
    border-collapse: collapse;
}

.occupied {
    border: 1px solid black;
    background-color: #4682B4 !important;
    display: block;
    height: 100%;
    border-collapse: collapse;
}

.fill-cell {
    display: flex;
    height: 100%;
    width: 100%;
}

.date-header{
    width: 15px;
    max-width: 15px;
}

.room-type-header{
   min-width: 100px;
   width: 100px;
   max-width: 100px;
}

.room-row {
    min-height: 25px;
    height: 25px;
}

.btn-size {
    padding: 3px;
    display: grid;
    align-items: center;
}

.icon-size{
    font-size: 12px;
}

.btn-div{
    display: flex;
}

.btn-border {
    border-inline: 1px solid black;
    border-radius: 0 !important;
}

.no-padding-block{
    padding-block: 0px !important;
}

.no-padding{
    padding: 0px !important;
}

table.no-spaccing {
    border-spacing: 0; 
    border-collapse: collapse;
    border: 0px;
    width: max-content;
}

.week-day-font{
    font-size: 8px;
}